{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <section class="py-12">
            <div class="container">
                <div class="py-5">
                    {{ form_start(form) }}
                        <div class="relative h-14">
                            {{ form_widget(form.query) }}
                            <button class="absolute inset-y-0 right-0 flex items-center pr-3">
                                <i class="fa-sharp fa-solid fa-magnifying-glass w-full h-5 text-gray-500 dark:text-gray-400"></i>
                            </button>
                        </div>
                    {{ form_end(form) }}
                </div>
                <div class="grid gap-5 lg:grid-cols-3">
                    {% for declaration in declarations %}
                        <div class="">
                        <a href="{{ path('app_show_declaration', { id: declaration.id }) }}" class="block rounded overflow-hidden shadow-lg cursor-pointer">
                            <img class="aspect-video" src="
                                {% if declaration.document.image == null or declaration.document.image == "" %}
                                    {{ asset('assets/image/illustration.png') }}
                                    {% else %}
                                    {{ asset('uploads/documents/' ~ declaration.document.image ) }}
                                {% endif %}
                                " alt="{{ declaration.document.type }}">
                           <div class="px-6 py-4">
                                <p class="text-sm text-gray-700">
                                    <span><i class="fa fa-eye"></i></span> <span>{{ declaration.visitors | length }}</span>
                                </p>
                                <div class="font-semibold text-xl mb-2">{{ declaration.document.owner }}</div>
                                <div class="mb-2">Numéro: <span>{{ declaration.document.idNumber }}</span></div>
                                <ul class="text-gray-700 text-base space-y-2">
                                    <li>
                                        {% if declaration.status == 'perdu' %}
                                            <span class="inline-block bg-red-200 rounded-full px-3 py-1 text-sm font-semibold text-red-700 mr-2 mb-2">{{ declaration.status }}</span>
                                        {% else %}
                                            <span class="inline-block bg-green-200 rounded-full px-3 py-1 text-sm font-semibold text-green-700 mr-2 mb-2">{{ declaration.status }}</span>
                                        {% endif %}
                                    </li>
                                    {% if declaration.reward > 0 %}
                                        <li><span title="recompense"><i class="fa fa-money-bill"></i> </span> <span>{{ declaration.reward }}</span></li>
                                    {% endif %}
                                    <li><i class="fa fa-map-pin"></i> <span class="text-sm inline-block ml-1">{{ declaration.municipality }}, {{ declaration.municipality.town }}</span> </li>
                                </ul>
                                <div class="mt-2">
                                    <p>Contactez l'utilisateur</p>
                                    <p class="text-gray-700 text-base"><i class="fa fa-user"></i> <span class="text-sm">+237 6## ### ### </span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block title %}
    search
{% endblock %}

