{{ form_start(form) }}
<div class="flex flex-col-reverse lg:flex-row space-y-5 lg:space-y-0 lg:space-x-5">
    <div class="flex-[3]">
        <div class="border bg-white rounded">
            <div id="personnal-details" class="p-5">
                <div class="space-y-5">
                    <div class="grid lg:grid-cols-2 gap-5">
                        <div class="space-y-2">
                            <label class="block" for="numberroom">Document</label>
                            {{ form_row(form.document) }}
                        </div>
                        <div class="space-y-2">
                            <label class="block" for="numberroom">Status</label>
                            {{ form_row(form.status, {
                                'attr': {
                                    'class': 'border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 '
                                }
                            }) }}
                        </div>
                        <div class="space-y-2">
                            <label class="block" for="firstname">Récompense</label>
                            {{
                            form_row(form.reward, {
                                'attr': {
                                    'class': 'border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ',
                                    'placeholder': 'Nom du propriétaire'
                                }
                            })
                            }}
                        </div>
                        <div class="space-y-2">
                            <label class="block" for="description">Description</label>
                            {{
                            form_row(
                                form.description, {
                                'attr': {
                                    'class': 'border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ',
                                    'placeholder': 'Petite description',
                                    'cols': '10',
                                    'rows': '3'
                                }
                            })
                            }}
                        </div>
                    </div>
                    <div class="lg:flex justify-end hidden">
                        <button class="bg-blue-500 rounded text-white p-3 w-full lg:w-fit" type="submit">{{ button_label|default('Valider') }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
