{# templates/admin/my-custom-page.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}
{% block title 'Dashboard' %}
{% block content_title %}Dashboard{% endblock %}
{% block main %}
    <section>
        <div class="w-11/12 mx-auto">
            <h2 class="text-2xl font-medium">Statistiques</h2>
            <div class="grid grid-cols-1 md:grid-cols-4 gap-3">

                <div class="grid grid-cols-5 gap-3 bg-white rounded-md shadow-md p-2">
                    <div class="bg-teal-500 col-span-2 flex justify-center items-center text-white rounded-md p-3 ">
                        <i class="text-xl fa-solid fa-book"></i>
                    </div>
                    <div class="col-span-3 flex flex-col justify-between">
                        <span>Documents</span>
                        <span class="font-semibold">{{documents | length}}</span>
                    </div>
                </div>
                <div class="grid grid-cols-5 gap-3 bg-white rounded-md shadow-md p-2">
                    <div class="bg-orange-500 col-span-2 flex justify-center items-center text-white rounded-md p-3 ">
                        <i class="text-xl fa-solid fa-newspaper"></i>
                    </div>
                    <div class="col-span-3 flex flex-col justify-between">
                        <span>Declarations</span>
                        <span class="font-semibold">{{declaration | length}}</span>
                    </div>
                </div>
                <div class="grid grid-cols-5 gap-3 bg-white rounded-md shadow-md p-2">
                    <div class="bg-fuchsia-500 col-span-2 flex justify-center items-center text-white rounded-md p-3 ">
                        <i class="text-xl fa-solid fa-box-archive"></i>
                    </div>
                    <div class="col-span-3 flex flex-col justify-between">
                        <span>Documents Trouvés</span>
                        <span class="font-semibold">{{found_documents | length}}</span>
                    </div>
                </div>
                <div class="grid grid-cols-5 gap-3 bg-white rounded-md shadow-md p-2">
                    <div class="bg-blue-500 col-span-2 flex justify-center items-center text-white rounded-md p-3 ">
                        <i class="text-xl fa fa-user"></i>
                    </div>
                    <div class="col-span-3 flex flex-col justify-between">
                        <span>Utilisateurs</span>
                        <span class="font-semibold">{{users | length}}</span>
                    </div>
                </div>
                <div class="grid grid-cols-5 gap-3 bg-white rounded-md shadow-md p-2">
                    <div class="bg-violet-500 col-span-2 flex justify-center items-center text-white rounded-md p-3 ">
                        <i class="text-xl fa fa-user-group"></i>
                    </div>
                    <div class="col-span-3 flex flex-col justify-between">
                        <span>Visiteurs</span>
                        <p class=""><span class="font-semibold mr-5">{{visitors | length}}</span><span><i class="text-green-500 fa fa-arrow-up"></i><i class="text-red-500 fa fa-arrow-down"></i></span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}