<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Retrouvez ou enregistrer vos documents personnels perdus: CNI, Passport, Diplômes... sur notre plateforme">
        <link rel="icon" href="{{ asset('assets/image/favicon.png') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
{#            {{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <nav class="bg-gradient-to-r to-[#5A72EA] from-[#8468B1]">
        <div class="container mx-auto py-5">
            <div class="flex justify-between items-center">
                <a href="">
                    <img class="h-10 lg:h-20" src="{{ asset('assets/image/favicon.png') }}" alt="">
                </a>
                <ul class="hidden text-white lg:flex space-x-10">
                    {% if app.user %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('admin') }}" class="">Dashboard</a></li>
                        {% else %}
                            <li><a href="{{ path('app_dashboard') }}" class="">Dashboard</a></li>
                        {% endif %}
                    {% endif %}
                    <li><a href="{{ path('app_home') }}" class="">Accueil</a></li>
                    <li><a href="{{ path('app_search') }}" class="">Recherche</a></li>
                    <li><a href="{{ path('app_about') }}" class="">A Propos</a></li>
                    <li><a href="{{ path('app_comment') }}" class="">Avis</a></li>
                    <li><a href="{{ path('app_mentions') }}" class="">Mention légale</a></li>
                    <li><a href="{{ path('app_contact') }}" class="">Contact</a></li>
                    <li>
                        {% if app.user %}
                            <a href="{{ path('app_logout') }}" class="bg-white text-primary py-2 px-4 rounded-lg cursor-pointer">Deconnexion</a>
                            {% else %}
                            <a href="{{ path('app_login') }}" class="bg-white text-primary py-2 px-4 rounded-lg cursor-pointer">Connexion</a>
                        {% endif %}
                    </li>
                </ul>
                <button id="open-menu" type="button" class="inline-flex lg:hidden items-center p-2 ml-3 text-sm text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-200 " >
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
        </div>
    </nav>
    <div id="mobile-menu" class="z-10 p-5 mx-auto py-5 bg-gradient-to-r to-[#5A72EA] from-[#8468B1] fixed w-full h-screen top-0 transform -translate-x-full ease-in-out duration-200">
        <div class="flex justify-between items-center">
            <a href="">
                <img class="h-10" src="{{ asset('assets/image/favicon.png') }}" alt="">
            </a>
            <button id="close-menu" type="button" class="inline-flex lg:hidden items-center p-2 ml-3 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-200 " >
                <i class="text-lg fa-solid fa-xmark"></i>
            </button>
        </div>
        <ul class="my-10 text-white space-y-10">
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin') }}" class="">Dashboard</a></li>
                {% else %}
                    <li><a href="{{ path('app_dashboard') }}" class="">Dashboard</a></li>
                {% endif %}
            {% endif %}
            <li><a href="{{ path('app_home') }}" class="">Accueil</a></li>
            <li><a href="{{ path('app_search') }}" class="">Recherche</a></li>
            <li><a href="{{ path('app_about') }}" class="">A Propos</a></li>
            <li><a href="{{ path('app_comment') }}" class="">Avis</a></li>
            <li><a href="{{ path('app_mentions') }}" class="">Mention légale</a></li>
            <li><a href="{{ path('app_contact') }}" class="">Contact</a></li>
            {% if app.user %}
                <a href="{{ path('app_logout') }}" class="bg-white text-primary py-2 px-4 rounded-lg cursor-pointer">Deconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="bg-white text-primary py-2 px-4 rounded-lg cursor-pointer">Connexion</a>
            {% endif %}
        </ul>
    </div>

    {% block body %}{% endblock %}

    <footer class="">
        <div class="container py-5">
            <div class="lg:flex justify-between space-y-5 lg:sapce-y-0">
                <div class="py-3">
                    <h3 class="uppercase text-primary text-3xl font-semibold"><a href="" class="">find</a></h3>
                    <p class="lg:w-1/2 text-[#5A5A5A]">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested</p>
                </div>
                <div class="space-x-0 lg:space-x-5 lg:flex">
                    <div class="py-3">
                        <h3 class="text-primary text-xl">Navigation</h3>
                        <ul class="text-[#5A5A5A] space-y-3 mt-2">
                            <li><a href="{{ path('app_home') }}" class="">Accueil</a></li>
                            <li><a href="{{ path('app_search') }}" class="">Recherche</a></li>
                            <li><a href="{{ path('app_about') }}" class="">A Propos</a></li>
                            <li><a href="{{ path('app_mentions') }}" class="">Mention légale</a></li>
                            <li><a href="{{ path('app_contact') }}" class="">Contact</a></li>
                        </ul>
                    </div>
                    <div class="py-3">
                        <h3 class="text-primary text-xl">Contact</h3>
                        <ul class="text-[#5A5A5A] space-y-3 mt-2">
                            <li>contact@find.cm</li>
                            <li>+237 698 530 785</li>
                            <li>Douala, Cameroun</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-primary">
            <div class="container py-5">
                <p class="text-center text-white">All rights reserved &cir; 2023 </p>
            </div>
        </div>
    </footer>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ asset('assets/js/home.js') }}"></script>
    <script>
        $('.slick').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 4000,
            speed: 1000,
        });
    </script>
</html>
