{% extends 'dashboard.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="bg-white">
    <div class="w-11/12 mx-auto">
        <div class="py-3 text-sm">
            <span class="font-thin">Bienvenu {{ app.user.firstname }} {{ app.user.lastname }}</span>
        </div>
    </div>
</div>
<section class="mt-10">
    <div class="w-11/12 mx-auto">
        <h2 class="text-2xl font-medium mb-5">Statistiques</h2>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-3">
            {{ include('components/cards/icon_card.html.twig', {count: balance, card_name: 'Cagnote', card_color: 'green', card_icon: 'fa-money-bill'}) }}
            {{ include('components/cards/icon_card.html.twig', {count: transactions | length, card_name: 'Transactions', card_color: 'blue', card_icon: 'fa-money-bill-transfer'}) }}
        </div>
    </div>
    <div class="w-11/12 mx-auto mt-10">
        <h2 class="text-2xl font-medium mb-5">Statistiques</h2>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-3">
            {{ include('components/cards/icon_card.html.twig', {count: documents | length, card_name: 'Documents', card_color: 'teal', card_icon: 'fa-book'}) }}
            {{ include('components/cards/icon_card.html.twig', {count: declaration | length, card_name: 'Déclarations', card_color: 'orange', card_icon: 'fa-newspaper'}) }}
            {{ include('components/cards/icon_card.html.twig', {count: founded_docs | length, card_name: 'Documents Trouvés', card_color: 'fuchsia', card_icon: 'fa-box-archive'}) }}
            {{ include('components/cards/icon_card.html.twig', {count: transactions | length, card_name: 'Pourcentage', card_color: 'red', card_icon: 'fa-percent'}) }}
        </div>
    </div>
</section>
{% endblock %}
